{% extends 'base.html' %}
{% block content %}
<h1 class="header">VIDEOS</h1>
  <div class="card-body">
    {% for video in videos %}
      <div class="card">
        {% if video.video %}
          <!-- Display video file if available -->
          <video loop autoplay muted controls>
            <source src="{{ video.video.url }}" type="video/mp4" />
          </video>
        {% elif video.video_link %}
          <!-- Display video link if available -->
          <iframe width="100%" height="" src="{{ video.video_link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        {% endif %}
        <h3>{{ video.title }}</h3>
        <p>{{ video.description|truncatechars:100 }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
